<div class="row">
  <div class="col-md-12">
    <h3>Update Post</h3>
    <hr>
    <form>
      <div class="mb-3">
        <div class="form-group mb-3">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title">
        </div>
        <div class="form-group mb-3">
          <label for="description">Description</label>
          <textarea rows="3" class="form-control" id="description"></textarea>
        </div>
      </div>

      <div class="my-3">
        <button class="btn btn-success" type="submit">Update Post</button>
      </div>
    </form>
  </div>
</div>
