<div class="row text-lg-start m-4">
  <div class="col-lg-8">
    <h3>Posts List</h3>
    <div>
      <a [routerLink]="['/posts', 'add']" class="btn btn-primary">Add Post</a>
    </div>

    <table class="table table-striped" *ngIf="posts$ | async as postsData">
      <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Options</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let post of postsData">
        <td>{{post.id}}</td>
        <td>{{post.title}}</td>
        <td>{{post.description}}</td>
        <td [ngStyle]="{paddingLeft: '30px'}">
          <i class="bi bi-trash2-fill" style="cursor: pointer; color: red" (click)="onRemove(post.id)"></i>&nbsp;
          <a [routerLink]="['edit', post.id]">
            <i class="bi bi-pencil-square" style="cursor: pointer; color: var(--bs-blue)"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-4">
    <router-outlet></router-outlet>
  </div>
</div>
